<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf8" />
    <title>Tibiahu minimál</title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css" />
    {% block head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path("homepage") }}">Tibiahu minimál</a>

            <ul class="nav">
                <li><a href="{{ path("recent_level_changes") }}">Legújabb szintváltozások</a></li>
            </ul>

    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $(".datatable").dataTable({
            "bPaginate": false,
            "bFilter": false,
            "bSearchable": false,
            "sDom": '<"top">rt<"bottom"flp><"clear">'
        });
    });
</script>
</body>
</html>
